body{
	background-color: black;
}

.preloader { 
    position:fixed;
    width:1em;
    height:7em;
    left:50%;
    bottom:35%;
    background-size:100%;
    background-position:top;
    background-repeat:no-repeat;
    z-index:999;
    border-radius:100px;
    border-top:0.5rem solid hsl(54deg 99% 47%);
    border-bottom:0.5rem solid hsl(54deg 99% 47%);
    transition:all 300ms ease-in;
}

.preloader {
    animation: girar .4s ease-out infinite;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    
    
    100% {
        transform:rotate(360deg);
    }
}
